<br>
<body style="background-color:lightblue;">
  
  <br><br>
  <h1 style="text-align:center;color:darkblue"  > Welcome to COVID-19 test registration! </h1> 
  <br>
  
 <!-- <img src="https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_1280.jpg"  width="690" height="420">
   -->
 <!-- <div class="verticalcenter">
  <img src="https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_1280.jpg" alt="centered image" width="690" height="420" />
</div> -->

<img src="https://mediad.publicbroadcasting.net/p/wpr/files/styles/x_large/public/202005/covid-19-5070658_1920.jpg" alt="Paris" class="center"  width="780" height="400">
  <br><br>
    <h2 style="text-align:center;color:darkblue"> Get ready to test for COVID-19! </h2> 
    <br><br>
   
 </body>



